<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="submit">

        <label for="id"> id</label> <br>
        <input type="text" name="id" id="id"> <br> <br>
        <label for="firstname">First Name</label> <br>
        <input type="text" name="firstname" id="firstname"> <br><br>
        <label for="Lastname"> Last Name</label> <br>
        <input type="lastname " name="lastname" id="lastname"> <br> <br>

        <button type="submit" >save</button>




    




    </form>
    
</body>
</html>